html {
    background-color: black;
    overflow: hidden;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

h1 {
    color: gray;
    transform: translate(-50%, 50%);
    position: absolute;
    left: 50%;
    top: 50%;
}